body {
    padding: 0;
    overflow: hidden;
    font-family: colfax, helvetica, arial, sans-serif;
    line-height: 1.5;
}


.map {
    position: absolute;
    /* right: 0px;
    left: 400px; */
    width: 100%;
    height: 100%;
    top: 0;
}
